<%= form_for @event_set, html: {id: 'event_data'} do |f| %>
    <% Time.use_zone(current_user.timezone) do %>
        <%= f.hidden_field 'event_set_id', value: @event_set.id %>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Title', 'Title', class: 'third-width' %></div>
          <div class='twoThirds'><%= f.text_field :title, class: 'third-width' %></div>
        </div>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Description', 'Description', class: 'third-width' %></div>
          <div class='twoThirds'><%= f.text_field :description, class: 'third-width' %></div>
        </div>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Instances', 'Instances', class: 'third-width' %></div>
          <div class='twoThirds'><%= f.text_field :instances, class: 'third-width' %></div>
        </div>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Start', 'Start' %></div>
          <div class='twoThirds'><%= f.datetime_field :start_at,
                                                      value: @event_set.start_at.strftime('%Y/%m/%d %H:%M'),
                                                      class: 'timeSelection', :placeholder => 'mm/dd/yy' %></div>
        </div>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Duration(Minutes)', 'Duration(Minutes)', class: 'third-width' %></div>
          <div class='twoThirds'><%= f.text_field :duration, class: 'third-width' %></div>
        </div>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Period(Days)', 'Period(Days)', class: 'third-width' %></div>
          <div class='twoThirds'><%= f.text_field :period, class: 'third-width' %></div>
        </div>
        <div class="formLine clearAll">
          <div class='thirdWidth'><%= label 'Calendar', 'Calendar', class: 'third-width' %></div>
          <div class='twoThirds'><%= f.select :user_calendar_id, options_from_collection_for_select(current_user.user_calendars, 'id', 'name', @event_set.user_calendar_id) %></div>
        </div>
    <% end %>
<% end %>